body {
    padding-top: 22%;
}

.nav .navbar-lang > li > a {
    color: #000000;
    background: none;
    padding: 10px 10px;
    font-size: 10px;
    z-index: 9999;
}

.nav .navbar-lang > li > a:hover {
    font-weight: bold;
}

.nav .navbar-lang > li > a.active {
    color: #36261B;
    font-weight: bold;
}

.headerDivider {
   border-left: thick solid #ff0000;
}

.navfix {
	background: white;
    width: 100%;
}

.active {
	color: #b5b7c3;
}