body {
    padding-top: 22%;
}

.nav .navbar-lang > li > a {
    color: #000000;
    background: none;
    padding: 10px 10px;
    font-size: 10px;
    z-index: 9999;
}

.nav .navbar-lang > li > a:hover {
    font-weight: bold;
}

.nav .navbar-lang > li > a.active {
    color: #36261B;
    font-weight: bold;
}

.headerDivider {
   border-left: thick solid #ff0000;
}

.navfix {
	background: white;
    width: 100%;
}

.footer2 {
    position: static;
    margin-bottom: 1%;
    width: 99%;
}

.group-social2 {
    display: flex;
}

.bordersep {
    border: 1px;
    border-style: solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}